<nb-card>
  <nb-card-header>
    Generate Lorry Receipt
  </nb-card-header>

  <nb-card-body>    
    <form
    [formGroup]="lrGenForm"
    (ngSubmit)="genLR(lrGenForm)"
    >

    <!-- we will place our fields here -->
        <div class="form-group row">

          <!-- LR No -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">          
              <mat-select placeholder="LR No" formControlName="lr_no_id" (selectionChange)="lrNoSelected($event)">
                <mat-select-trigger>
                  {{ lr_no_id.value? lr_no_id.value : '' }}
                </mat-select-trigger>
                <mat-option *ngFor="let lrNoOpt of lrNoOptions" [value]="lrNoOpt.lr_no"
                class="lr-option">
                  <span>LR No: {{lrNoOpt.lr_no}}</span><br>
                  <span>{{ lrNoOpt.client.client }}</span><br>
                  <span>{{ lrNoOpt.vehicle_no }}</span>
                </mat-option>
              </mat-select>
              <button mat-icon-button matSuffix
                  (click)="engageLr()"
                  type="button">
                  <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- LR Date -->
          <div class="col-md-3 col-lg-3">
            <mat-form-field class="full-width">
              <input 
                id="date"
                name="date"
                matInput [matDatepicker]="picker" 
                formControlName="date"
                placeholder="LR Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- Vehicle No -->
          <div class="col-md-3 col-lg-3">
            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="vehicle_no"
                id="vehicle_no" 
                name="vehicle_no"
                placeholder="Vehicle No">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- Dispatch From -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="dispatch_from"
                id="dispatch_from" 
                name="dispatch_from"
                placeholder="Dispatch From">
            </mat-form-field>
          </div>

          <!-- Ship To -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput
                formControlName="ship_to"
                id="ship_to" 
                name="ship_to"
                placeholder="Ship To">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- Consignor -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">          
            <mat-select placeholder="Consignor" formControlName="consignor_id" 
              (selectionChange)="consignorSelected($event)"
              class="pad-field">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let clientAddressOpt of clientAddressOptions" 
                [value]="clientAddressOpt.client_address_id">
                {{ clientAddressOpt.address }}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>

          <!-- Consignor Manual -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <textarea
                matInput 
                formControlName="consignor_manual"
                id="consignor_manual" 
                name="consignor_manual"
                placeholder="Consignor Manual Entry"
                (input)="consignorManualChanged($event)">
              </textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Consignor Final -->
        <div class="form-group row">
          <div class="col-md-12 col-lg-12">
            <mat-form-field class="full-width">
              <textarea
                #consignorFinal
                disabled
                matInput
                id="consignor_final" 
                name="consignor_final"
                placeholder="Consignor Final">
              </textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- Consignee -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">          
            <mat-select placeholder="Consignee" formControlName="consignee_id"
              (selectionChange)="consigneeSelected($event)"
              class="pad-field">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let clientAddressOpt of clientAddressOptions" 
                [value]="clientAddressOpt.client_address_id">
                {{ clientAddressOpt.address }}
              </mat-option>
            </mat-select>
            </mat-form-field>
          </div>

          <!-- Consignee Manual -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <textarea
                matInput 
                formControlName="consignee_manual"
                id="consignee_manual" 
                name="consignee_manual"
                placeholder="Consignee Manual Entry"
                (input)="consigneeManualChanged($event)">
              </textarea>
            </mat-form-field>
          </div>
        </div>

        <!-- Consignee Final -->
        <div class="form-group row">
          <div class="col-md-12 col-lg-12">
            <mat-form-field class="full-width">
              <textarea
                #consigneeFinal
                disabled
                matInput
                id="consignee_final" 
                name="consignee_final"
                placeholder="Consignee Final">
              </textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- Consignor GSTIN -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="consignor_gstin"
                id="consignor_gstin" 
                name="consignor_gstin"
                placeholder="Consignor GSTIN">
            </mat-form-field>
          </div>
        
          <!-- Consignee GSTIN -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="consignee_gstin"
                id="consignee_gstin" 
                name="consignee_gstin"
                placeholder="Consignee GSTIN">
            </mat-form-field>
          </div>
        </div>

        <!-- Items FormArray -->
        <div *ngFor="let item of items.controls; let i=index"
        formArrayName="items">
          <!-- Angular assigns array index as group name by default for FormArrays  -->
          <div [formGroupName] = "i" class="form-group row">
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="full-width">
                <input
                  matInput
                  formControlName="packing_type"
                  placeholder="Packing Type"
                  id="packing_type"
                  name="packing_type"
                  class="pad-field">
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="full-width">
                <input
                  matInput
                  formControlName="no_of_pkg"
                  placeholder="No of Pkg"
                  id="no_of_pkg"
                  name="no_of_pkg"
                  class="pad-field">
              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-6">
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  formControlName="description"
                  placeholder="Description"
                  id="description"
                  name="description">
                </textarea>
                <button mat-icon-button matSuffix
                  *ngIf="items.controls.length > 1 && i > 0"
                  (click)="removeItem(items.controls[i])"
                  type="button">
                  <mat-icon>remove</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group row col-lg-2">
            <button mat-stroked-button
            (click)="addItem()"
            type="button"
            color="primary">
            ADD ITEM</button>
        </div>

        <div class="form-group row">
          <!-- Invoice No -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="invoice_no"
                id="invoice_no" 
                name="invoice_no"
                placeholder="Invoice No">
            </mat-form-field>
          </div>
        
          <!-- Invoice Date -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="invoice_date"
                id="invoice_date" 
                name="invoice_date"
                placeholder="Invoice Date">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- BOE No -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="boe_no"
                id="boe_no" 
                name="boe_no"
                placeholder="BOE No">
            </mat-form-field>
          </div>
        
          <!-- BOE Date -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="boe_date"
                id="boe_date" 
                name="boe_date"
                placeholder="BOE Date">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- DC No -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="dc_no"
                id="dc_no" 
                name="dc_no"
                placeholder="DC No">
            </mat-form-field>
          </div>
        
          <!-- DC Date -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="dc_date"
                id="dc_date" 
                name="dc_date"
                placeholder="DC Date">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- Value -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="value"
                id="value" 
                name="value"
                placeholder="Value">
            </mat-form-field>
          </div>
        
          <!-- Ewaybill -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="ewaybill_no"
                id="ewaybill_no" 
                name="ewaybill_no"
                placeholder="Ewaybill No">
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- Size -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="size"
                id="size" 
                name="size"
                placeholder="Size">
            </mat-form-field>
          </div>
        
          <!-- Weight -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="weight"
                type="number"
                id="weight" 
                name="weight"
                placeholder="Weight">
            </mat-form-field>
          </div>
        </div>
        
        <div class="form-group row">
          <!-- challan No -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="challan_no"
                type="number"
                id="challan_no" 
                name="challan_no"
                placeholder="Challan No">
            </mat-form-field>
          </div>

          <!-- Ewaybill Expiry Date -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input 
                id="ewaybill_expiry_date"
                name="ewaybill_expiry_date"
                matInput [matDatepicker]="ewaybill_picker" 
                formControlName="ewaybill_expiry_date"
                placeholder="Ewaybill Expiry Date">
              <mat-datepicker-toggle matSuffix [for]="ewaybill_picker"></mat-datepicker-toggle>
              <mat-datepicker 
                touchUi 
                #ewaybill_picker>
              </mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group row">
          <!-- Comments -->
          <div class="col-md-6 col-lg-6">
            <mat-form-field class="full-width">
              <input
                matInput 
                formControlName="comment"
                id="comment" 
                name="comment"
                placeholder="Comments">
            </mat-form-field>
          </div>
        </div>

        <!-- Adding the submit button -->
        <div class="form-group row">
          <div class="col-md-12 col-lg-12" align="right">
            <!-- Clear the Form -->          
            <button 
              mat-raised-button
              type="button"
              style='margin-right:16px'
              (click)="clearForm()">
              CLEAR
            </button>
            <button 
              mat-raised-button color="primary"
              type="submit" 
              [disabled]="!lrGenForm.valid">
              SUBMIT
            </button>
          </div>
        </div>


    </form>

    <!-- <pre>
      {{ lrGenForm.value | json }}
    </pre> -->

  </nb-card-body>
</nb-card>