<nb-card accent="info">
    <nb-card-header>#F12111900101</nb-card-header>
    <nb-card-body>
      <div class="container">
        <div class="location">
          <div class="location-1">
            <p class="loc">
              <span class="h1-card">Mumbai Port</span><br>
              <span class="h3-card">Mumbai<br>Maharashtra</span>
            </p>
          </div>
          <div class="seperator">
            <svg height="1.2em" width="1.2em" class="dot-start">
              <circle cx="0.75em" cy="0.6em" r="0.4em" stroke="black" stroke-width="0.06em" fill="lightgreen" />
            </svg>
            <hr class="line">
            <svg height="1.2em" width="1.2em" class="dot-end">
              <circle cx="0.5em" cy="0.6em" r="0.4em" stroke="red" stroke-width="0.12em" fill="white" />
            </svg>
          </div>
          <div class="location-2">
            <p class="loc">
              <span class="h1-card">Sector 150</span><br>
              <span class="h3-card">Noida<br>Uttar Pradesh</span>
            </p>
          </div>
        </div>
        <div class="vehicle-type">
          <div class="vehicle-icon"><img src="..\..\..\..\assets\images\Trailer V1.3.png"></div>
          <div class="vehicle"><span class="h2-card">Trailer</span><br>
          <span class="h4-card">Load</span></div>
          <div class="h2-card load-size">40'1" x 10'7" x 11'9" | 20 Tons</div>
        </div>
        <div class="other-details">
          <div class="load-type h2-card">ODC Cargo</div>
          <hr class="gray-line" />
          <div class="loading-date h2-card">Tue | 12 Nov</div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
    