nb-card-header {
    border-bottom: none;
    text-align: right;
    padding: 0 1.25rem;
    padding-top: 1rem;
}

.h1-card {
    font-family: Open Sans, sans-serif;
    font-weight: 550;
    font-size: 115%;
    color: #373737;
}

.h2-card {
  font-family: Open Sans, sans-serif;
  font-size: 105%;
  font-weight: 550;
  color: #373737;
}

.h3-card {
  font-family: Open Sans, sans-serif;
  font-size: 90%;
  color: #545454;
}

.h4-card {
  font-family: Open Sans, sans-serif;
  font-size: 90%;
  color: #373737;
}
  
.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(1fr, max-content));
    grid-template-areas: "location location location . vehicle-type vehicle-type vehicle-type vehicle-type . other-details other-details other-details";
  }
  
  .location {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: "location-1 seperator location-2";
  }
  
  .location-1 {
    padding-left: 10px;
    padding-right: 15px;
    grid-area: location-1;
    align-self: center;
    justify-self: left;
    text-align: left;
  }
  
  .location-2 {
    padding-left: 15px;
    padding-right: 10px;
    grid-area: location-2;
    align-self: center;
    justify-self: right;
    text-align: right;
  }

  .loc {
    margin-bottom: 0px;
  }
  
  .seperator {
    grid-area: seperator;
    align-items: center;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-areas: "dot-start line dot-end";
  }
  
  hr.line {
    width: 100%;
    background-color: #ccc;
    height: 1px;
    border: 0px solid black;
  }
      
  .dot-start {
    grid-area: dot-start;  
    justify-self: center;
  }
    
  .dot-end {
    grid-area: dot-end;
    grid-row: 1/2;
    justify-self: center;
  }
  
  .vehicle-type {
    grid-area: vehicle-type;
    display: grid;
    align-items: center;    
    grid-template-columns: max-content;
    grid-template-areas:   "vehicle"
                           "load-size"
  }
  
  .vehicle-icon {
    grid-area: vehicle;
    justify-self: left;
    padding-bottom: 0.5em;
  }
  
  .vehicle {
    grid-area: vehicle;
    text-align: center;
    justify-self: right;
    padding-bottom: 0.5em;
  }
  
  .load-size {
    grid-area: load-size;
    text-align: center;
    padding-top: 0.5em;
  }
  
  img {
      max-width: 8em;
  }

  .other-details {
    grid-area: other-details;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-items: center;
    align-items: center;
  }
  
  .gray-line {
    width: 60%;
    background-color: #ccc;
    height: 1px;
    border: 0px solid #545454;
  }
