* {
    box-sizing: border-box;
  }

.h3-card {
    font-size: 1.2em;
    color: #3366ff;
    font-weight: 700;
}

.h4-card {
    font-size: 1em;
    color: #565656;
    font-weight: 540;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 100%;
}

.overflow {
  overflow: hidden;
}

.container {
    display: grid;
    grid-template-rows: 1fr min-content min-content;
    grid-template-areas: "quote-body"
                          "seperator"
                          "footer";
}

.quote-body {
    grid-area: quote-body;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr min-content;
    white-space: nowrap;
    grid-template-areas: "transporter rev-rates"
                        "vehicle-type org-rates";
}

.transporter {
  grid-area: transporter;
  justify-self: left;
  padding-bottom: 10px;
}

.vehicle-type {
  grid-area: vehicle-type;
  justify-self: left;
}

.rev-rates {
    grid-area: rev-rates;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "incl-rate-rev excl-rate-rev";
}

.org-rates {
    grid-area: org-rates;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "incl-rate-org excl-rate-org";
}

.rate {
    margin: 0px 10px;
    justify-self: center;
}

.incl-rate-rev {
  grid-area: incl-rate-rev;
  font-size: 1em;
  color: darkslateblue;
  font-weight: 540;
}

.excl-rate-rev {
  grid-area: excl-rate-rev;
  font-size: 1em;
  color: darkslateblue;
  font-weight: 540;
}

.incl-rate-org {
  grid-area: incl-rate-org;
  font-size: 0.85em;
  color: midnightblue;
  font-weight: 400;
}

.excl-rate-org {
  grid-area: excl-rate-org;
  font-size: 0.85em;
  color: midnightblue;
  font-weight: 400;
}

.seperator {
    grid-area: seperator;
    width: 100%;
    margin: 1em 0em 0.5em 0em;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "status call-now"
}

.status {
  grid-area: status;
  justify-self: left;
}

.call-now {
  grid-area: call-now;
  justify-self: right;
}

.mat-gray {
    background-color: transparent;
    color: gray!important;
}

.mat-blue {
    background-color: transparent;
    color: #3366ff!important;
}
