<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="quote-body">
        <div class="transporter h3-card overflow ellipsis">{{quote.transporter_str}}</div>    
        <div class="rates">
          <div class="rates-cell">
            <div class="freight_11 rate">
              {{freight_11}}
            </div>
            <div class="freight_12 rate">
              {{freight_12}}
            </div>
            <div class="freight_21 rate">
              {{freight_21}}
            </div>
            <div class="freight_22 rate">
              {{freight_22}}
            </div>
          </div>
        </div>
        <div class="vehicle-type h4-card ellipsis overflow">
          {{quote.vehicle_type_obj[0].vehicle}}
          <span *ngIf="quote.vehicle_type_obj.length>1" 
            matTooltip={{vehicleTypeToolTip}}> 
            +{{quote.vehicle_type_obj.length-1}}
          </span>
        </div>
      </div>

      <mat-divider class="seperator"></mat-divider>

      <div class="footer">
        <div class="status">
          <button mat-stroked-button disabled color="gray">Searching Vehicle</button>
        </div>
        <div class="call-now">
          <button 
          id="call"
          mat-raised-button
          color="blue"
          ngbAutofocus>
            <a href="tel:02225891620">
              Call Now
            </a>
          </button>  
        </div>    
      </div>
    </div>
  </nb-card-body>
</nb-card>
