<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="heading-details ellipsis">
        <div class="transporter h3-card overflow">Shree Shyam Trailor Service</div>    
        <div class="vehicle-type h4-card">Spl Trailer Heavy II Crown SBT</div>
      </div>
      <div class="rate-details">
        <div class="incl-rate-rev">₹ 100,000 Incl</div>
        <div class="excl-rate-rev">₹ 60,000 Excl</div>
        <div class="incl-rate-org">₹ 125,000 Org</div>
        <div class="excl-rate-org">₹ 65,000 Org</div>
      </div>
      
      <mat-divider class="seperator"></mat-divider>

      <div class="footer">
        <div class="status">
          <button mat-stroked-button disabled color="gray">Searching Vehicle</button>
        </div>
        <div class="call-now">
          <button 
          id="call"
          mat-raised-button
          color="gray"
          ngbAutofocus>
            <a href="tel:9920212077">
              Call Now
            </a>
          </button>  
        </div>    
      </div>
    </div>
  </nb-card-body>
</nb-card>