<nb-card>
  <nb-card-header>
    LR No {{ lr['lr_no_id'] }}
  </nb-card-header>

  <nb-card-body id="print-section">
    <body>
      <ngx-company-header></ngx-company-header>
      <div class="document-area">
        <div class="title">
          LORRY RECEIPT
        </div>
        <div class="consignment-note">
          <div class="consignment-details">
            <div class="address">
              <div class="consignor-details">
                <span class="h2-card">Consignor Details:</span><br>
                <span class="h3-card">{{ consignor }}<span *ngIf="lr.consignor_gstin"><br>GSTIN: {{ lr.consignor_gstin }}</span></span>
              </div>
              <div class="consignee-details">
                <span class="h2-card">Consignee Details:</span><br>
                <span class="h3-card">{{ consignee }}<span *ngIf="lr.consignee_gstin"><br>GSTIN: {{ lr.consignee_gstin }}</span></span>          
              </div>
            </div>
            <div class="document-details">
              <div class="dd-row">
                <div class="light-1100-border">
                  <span class="h2-card">
                    Lorry Receipt No:
                  </span><br>
                  {{ lr['lr_no_id'] }}
                </div>
                <div class="light-1100-border">
                  <span class="h2-card">
                    Date:
                  </span><br>
                  {{lr.date | date:'LLL dd, yyyy'}}
                </div>
              </div>
              <div class="dd-row">
                <div class="light-1100-border">
                  <span class="h2-card">
                    Vehicle No:
                  </span><br>
                  {{ lr.vehicle_no }}
                </div>
                <div class="light-1100-border">
                  <span class="h2-card">
                    Invoice No:
                  </span><br>
                  {{ lr.invoice_no }}<br>
                  <span *ngIf="lr.invoice_date">Dated {{ lr.invoice_date }}</span>
                </div>
              </div>
              <div class="dd-row">
                <div class="light-1100-border">
                  <span class="h2-card">
                    Delivery Challan No:
                  </span><br>
                  {{ lr.dc_no }}<br>
                  <span *ngIf="lr.dc_date">Dated {{ lr.dc_date }}</span>                  
                </div>
                <div class="light-1100-border">
                  <span class="h2-card">
                    Bill of Entry No:
                  </span><br>
                  {{ lr.boe_no }}<br>
                  <span *ngIf="lr.boe_date">Dated {{ lr.boe_date }}</span>
                </div>
              </div>
              <div class="dd-row">
                <div class="light-1100-border">
                  <span class="h2-card">
                    Ewaybill No:
                  </span><br>
                  <span *ngIf="lr.ewaybill_no">{{ lr.ewaybill_no }}</span>
                </div>
                <div class="light-1100-border">
                  <span class="h2-card">
                    Verification No: <br>
                  </span>
                  {{ lr['lr_obj']['verification_no'] }}
                </div>
              </div>
              <div class="dd-row">
                <div class="light-1100-border">
                  <span>
                    Unloading by Party
                  </span><br>
                  Owner's Risk <br>
                  To be Billed at Mumbai
                </div>
                <div class="light-1100-border">
                  <span class="h2-card">
                    Comments:
                  </span><br>
                  <span>
                    {{ lr.comment }}
                  </span>
                </div>
              </div>        
            </div>
          </div>
          <div class="items-section">
            <div>
              <div class="heading light-0111-border">
                <span class="h1-card">Description of Goods</span>
              </div>
            </div>
            <div class="item-columns">
              <div class="light-0101-border col">
                <div class="light-0010-border">Sr No</div>
                <div class="pad5"
                  *ngFor="let item of lr.items; let i = index">{{i+1}}.
                </div>
              </div>
              <div class="light-0100-border col">
                <div class="light-0010-border">Packing Type - No of Pkgs</div>
                <div class="pad5"
                  *ngFor="let item of lr.items; let i = index">
                  {{item.packing_type}}
                  <span *ngIf="item.packing_type && item.no_of_pkg"> - </span>
                  <span *ngIf="item.no_of_pkg">{{ item.no_of_pkg }}</span>
                </div>
              </div>
              <div class="light-0100-border col">
                <div class="light-0010-border">Description</div>
                <div class="pad5"
                  *ngFor="let item of lr.items; let i = index">
                  {{ item.description }}
                </div>
              </div>
            </div>
          </div>
          <div class="other-details">
            <div class="value-row">
              <div class="light-1001-border">
                Value: {{ lr.value }}
              </div>
              <div class="light-1101-border">
                E. & O.E.
              </div>
            </div>
            <div class="signature-row">
              <div class="receiving pad5 light-1001-border">
                Received in Good Condition:<br><br><br><br>
                Nimbus Logistics GSTIN: 27AJKPA4618F1ZG
              </div>
              <div class="nimbus-sign pad5 light-1101-border">
                Authorised Signature<br>
                <img src="assets/images/signature.png">
                <br>for Nimbus Logistics
              </div>
            </div>
            <div class="thane-jur pad5 light-1101-border">
              SUBJECT TO THANE JURISDICTION
            </div>
            <div class="verify-link pad5 light-border">
              This is a computer generated document. <br>
              You can visit https://nimbuslogistics.in/verify-lr/ to verify the authenticity of the document.
            </div>
          </div>    
        </div>
      </div>
    </body>
  </nb-card-body>
  
</nb-card>

<!-- Adding the print button -->
<div class="form-group row">
  <div class="col-md-12 col-lg-6" align="right">
    <button 
      mat-raised-button color="primary"
      printSectionId="print-section"
      [useExistingCss]="true"
      printTitle={{printTitle}}
      ngxPrint>
      PRINT
    </button>
  </div>
</div>
